*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.my-Outer-div{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/* 进度条 */
.myScroll-progress-div{
    height: 100%;
    width: 8px;
    position: absolute;
    top: 0;
    right: 0;
}
.myScroll-progress-div span{
    display: block;
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}
.myScroll-progress-tspan{
    height: 100%;
    background: #f0f0f0;
}
.myScroll-progress-cspan{
    background: #928f8f;
    cursor: pointer;
}
